.btn {
    padding: 10px 15px;
    background-color: #555;
    color: white;
    border-radius: 1em;
    border: none;
    outline: none;
}

.count {
    font-size: 2em;
    font-weight: 800;
    color: #555;
}