.App {
  text-align: center;
}


.header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: white;
}

.btn {
  padding: 10px 15px;
  background-color: #555;
  color: white;
  border-radius: 5px;
  margin: 1em;
  border: none;
  outline: none;
}

.count {
  font-size: 2em;
  font-weight: 800;
  color : #555;
}
